{% extends "layout.html" %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta http-equiv="Content-Language" content="pt-br">
    <title>{% block title %}{% endblock %} Manda Nudes Aê!</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//code.getmdl.io/1.2.1/material.min.css">
    <link rel="stylesheet" href="//code.getmdl.io/1.2.1/material.blue_grey-red.min.css" />

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

    {% block head %}
    {% endblock %}
    <style>
    .mdl-layout__content {
      height: 100vh;
    }

    .mdl-layout__header-row {
      padding: 0 16px 0 16px;
    }
    </style>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">

          <!--
          <span class="mdl-layout-title">
            <img class="android-logo-image" src="images/logo.png">
          </span>
          -->

          <div id="spinner" class="mdl-spinner mdl-js-spinner"></div>


          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
          </div>

          <nav class="android-navigation mdl-navigation">
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Mapa</a>
            <!-- <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Proximos</a> -->
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/upload">Enviar</a>
          </nav>

          <!--
          <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="images/android-logo.png">
          </span>
          <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item">5.0 Lollipop</li>
            <li class="mdl-menu__item">4.4 KitKat</li>
            <li disabled class="mdl-menu__item">4.3 Jelly Bean</li>
            <li class="mdl-menu__item">Android History</li>
          </ul>
        -->

        </div>
      </div>

<!--
      <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="images/android-logo-white.png">
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link map-tab" href="/">Mapa</a>
          <a class="mdl-navigation__link" href="/upload">Enviar</a>
        </nav>
      </div>
-->

      <main class="mdl-layout__content">
        <div id="map"></div>
      </main>

<!--
        <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer--top-section">
            <div class="mdl-mega-footer--left-section">
              <button class="mdl-mega-footer--social-btn"></button>
              &nbsp;
              <button class="mdl-mega-footer--social-btn"></button>
              &nbsp;
              <button class="mdl-mega-footer--social-btn"></button>
            </div>
          </div>

          <div class="mdl-mega-footer--middle-section">
            <p class="mdl-typography--font-light">Some features and devices may not be available in all areas</p>
          </div>

          <div class="mdl-mega-footer--bottom-section">
            <a class="mdl-typography--font-light" href="">Privacy Policy</a>
          </div>
        </footer>
-->

      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-auth.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-storage.js"></script> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-messaging.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
    <script>
    var styledMapArray = [
        {
            "featureType": "administrative.locality",
            "elementType": "all",
            "stylers": [
                {
                    "hue": "#2c2e33"
                },
                {
                    "saturation": 7
                },
                {
                    "lightness": 19
                },
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "all",
            "stylers": [
                {
                    "hue": "#ffffff"
                },
                {
                    "saturation": -100
                },
                {
                    "lightness": 100
                },
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
                {
                    "hue": "#ffffff"
                },
                {
                    "saturation": -100
                },
                {
                    "lightness": 100
                },
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
                {
                    "hue": "#bbc0c4"
                },
                {
                    "saturation": -93
                },
                {
                    "lightness": 31
                },
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [
                {
                    "hue": "#bbc0c4"
                },
                {
                    "saturation": -93
                },
                {
                    "lightness": 31
                },
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels",
            "stylers": [
                {
                    "hue": "#bbc0c4"
                },
                {
                    "saturation": -93
                },
                {
                    "lightness": -2
                },
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "geometry",
            "stylers": [
                {
                    "hue": "#e9ebed"
                },
                {
                    "saturation": -90
                },
                {
                    "lightness": -8
                },
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                {
                    "hue": "#e9ebed"
                },
                {
                    "saturation": 10
                },
                {
                    "lightness": 69
                },
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                {
                    "hue": "#e9ebed"
                },
                {
                    "saturation": -78
                },
                {
                    "lightness": 67
                },
                {
                    "visibility": "simplified"
                }
            ]
        }
    ];

    var config = {
      apiKey: "AIzaSyBmhEGzwL4wVUcGn6ZZiHBD_Aq0gOgCSaU",
      authDomain: "redneighbor-b.firebaseapp.com",
      storageBucket: "redneighbor-b.appspot.com",
      messagingSenderId: "787208033873"
    };

    firebase.initializeApp(config);

    var auth = firebase.auth();

    auth.onAuthStateChanged(function(user) {
      if (user) {
        var isAnonymous = user.isAnonymous;
        var uid = user.uid;

        console.log(user, isAnonymous);
      } else {
        console.log("User is signed out.");
      }
    });

    var BASE_URL = "https://redneighbor-b.appspot.com"

    function initMap() {
      google.maps.event.addDomListener(window, 'load', function() {
        var spinner = document.getElementById('spinner');

        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -14.2350, lng: -51.9253},
          zoom: 5,
          minZoom: 5,
          maxZoom: 16,
          disableDefaultUI: true,
          zoomControl: true
        });

        map.mapTypes.set('styled_map', new google.maps.StyledMapType(styledMapArray));
        map.setMapTypeId('styled_map');

        var infowindow = new google.maps.InfoWindow({
          disableAutoPan: false
        });

        var markerCluster = new MarkerClusterer(map, [], { imagePath: '{{ url_for("static", filename="maps/m") }}' });

        function addMarker(nude) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(nude.lat, nude.lng),
            data: nude
          });

          google.maps.event.addListener(marker, 'click', function() {
            var contentString = "<img style='width:128px;height:128px;' src='"+  marker.data.url + "'>";

            infowindow.close();
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
          });

          markerCluster.addMarker(marker);
        }

        function downloadUrl(url, callback) {
          var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest();

          request.onreadystatechange = function() {
            if (request.readyState === 4) {
              request.onreadystatechange = doNothing;
              callback(request.responseText, request.status);
            }
          };

          request.open('GET', url, true);
          request.send(null);
        }

        function doNothing() {
        }

        // TODO round
        var centeredAt = new google.maps.LatLng();

        google.maps.event.addListener(map, 'idle', function() {
          if (google.maps.geometry.spherical.computeDistanceBetween(map.getCenter(), centeredAt) < 500) {
            return;
          }

          spinner.classList.add('is-active');
          markerCluster.clearMarkers();
          infowindow.close();

          var limit = 1000;
          var radius = 6378.8;
          var bounds = map.getBounds();
          var center = bounds.getCenter();
          var lat = center.lat();
          var lng = center.lng();
          var ne = bounds.getNorthEast();
          var lat1 = ne.lat() / 57.2958;
          var lng1 = ne.lng() / 57.2958;
          var lat2 = lat / 57.2958;
          var lng2 = lng / 57.2958;

          var distance = radius * Math.acos(
            Math.sin(lat2) * Math.sin(lat1) +
            Math.cos(lat2) * Math.cos(lat1) *
            Math.cos(lng1 - lng2)
          );

          var url = 'https://redneighbor-b.appspot.com/api/v1/nudes' +
            '?lat=' + lat +
            '&lng=' + lng +
            '&distance=' + Math.floor(distance * 1000) +
            '&limit=' + limit;

          downloadUrl(url, function(json) {
            var payload = JSON.parse(json);

            console.log("nudes: " + payload.nudes.length);
            payload.nudes.forEach(function(nude) {
              addMarker(nude)
            }, this);

            centeredAt = center;
            spinner.classList.remove('is-active');
          });
        });

        google.maps.event.addListener(map, "click", function(event) {
          infowindow.close();
        });

        /*
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setZoom(10);
            map.panTo(pos);
          });
        }
        */
      });
    }
    </script>

    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=geometry&key=AIzaSyAoMXjq-vmAOzoJVt8UCBppNaZar2ciy24"></script>
  </body>
</html>
