{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block head %}
  {{ super() }}
  <style>
  #map {
    width: auto;
    height: 100%;
    overflow: hidden;
    max-width: none;
  }
  </style>
{% endblock %}


{% block content %}
  <div id="map"></div>
{% endblock %}

{% block footer %}
  {{ super() }}

  <script src="//cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
  <script>
  var styledMapArray = [{% include 'gmaps_theme.js' %}];

  function initMap() {
    google.maps.event.addDomListener(window, 'load', function() {
      var spinner = $('#spinner');

      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: {{ lat }}, lng: {{ lng }}},
        zoom: 5,
        minZoom: 5,
        // maxZoom: 20,
        disableDefaultUI: true,
        zoomControl: true
      });

      map.mapTypes.set('styled_map', new google.maps.StyledMapType(styledMapArray));
      map.setMapTypeId('styled_map');

      $(window).bind('hashchange', function () {
        var hash = window.location.hash.slice(1);
        if (hash) {
          var values = hash.split(',');
          console.log(values);
        }
      });

      var infowindow = new google.maps.InfoWindow({
        disableAutoPan: false,
      });

      var markers = [];
      var markerCluster = new MarkerClusterer(map, [], {
        imagePath: '{{ url_for("static", filename="maps/m") }}',
        maxZoom: 21,
        zoomOnClick: false
      });

      google.maps.event.addListener(markerCluster, 'clusterclick', function(cluster) {
        var clusterMarkers = cluster.getMarkers();

        if (map.getZoom() < 18 && clusterMarkers.length > 2) {
          map.fitBounds(cluster.getBounds());
          return;
        }

        var contentString = new String();
        contentString += [
          "<div class='row' style='overflow-y: scroll; max-height: 300px;'>",
          " <div>",
          "  <ul>",
        ].join('\n');;

        for (i = 0; i < clusterMarkers.length; i++) {
          var marker = clusterMarkers[i];
          contentString += [
            "   <li>",
            "     <a href='" + '/nude/' + marker.data.key + "'>",
            "       <img style='border: 0; max-height:240px;' src='"+  marker.data.url + "' />",
            "     </a>",
            "   </li>",
          ].join('\n');
        }

        contentString += [
          "  </ul>",
          " </div>",
          "</div>"
        ].join('\n');;

        infowindow.close();
        infowindow.setContent(contentString);
        infowindow.setPosition(clusterMarkers[0].getPosition());
        infowindow.open(map);
      });

      function addMarker(data) {
        for (i = 0; i < markers.length; i++) {
            if (data.key == markers[i].key) {
              return;
            }
        }

        var marker = new google.maps.Marker({
          key: data.key,
          position: new google.maps.LatLng(data.lat, data.lng),
          data: data
        });

        google.maps.event.addListener(marker, 'click', function() {
          var contentString = [
            "<a href='" + '/nude/' + marker.data.key + "'>",
            "  <img style='border: 0; max-height:240px;' src='"+  marker.data.url + "' />",
            "</a>"
          ].join('\n');

          infowindow.close();
          infowindow.setContent(contentString);
          infowindow.open(map, marker);
        });

        markers.push(data);
        markerCluster.addMarker(marker);
      }

      var centeredAt = new google.maps.LatLng();

      google.maps.event.addListener(map, 'idle', function() {
        var bounds = map.getBounds();
        var center = bounds.getCenter();

        window.location = '#' + [
          center.lat(),
          center.lng(),
          map.getZoom()
        ].join(',');

        var radius = 6378.8;
        var lat = center.lat();
        var lng = center.lng();
        var ne = bounds.getNorthEast();
        var lat1 = ne.lat() / 57.2958;
        var lng1 = ne.lng() / 57.2958;
        var lat2 = lat / 57.2958;
        var lng2 = lng / 57.2958;

        var distance = radius * Math.acos(
          Math.sin(lat2) * Math.sin(lat1) +
          Math.cos(lat2) * Math.cos(lat1) *
          Math.cos(lng1 - lng2)
        );

        var url = '/api/v1/nudes' +
          '?lat=' + lat +
          '&lng=' + lng +
          '&distance=' + Math.floor(distance * 1000) +
          '&limit=' + 1000;

        spinner.addClass('is-active');

        $.getJSON(url, function(payload) {
          $.each(payload.result, function(index, data) {
            addMarker(data);
          });
        })
        .always(function() {
          spinner.removeClass('is-active');
        });
      });

      google.maps.event.addListener(map, "click", function(event) {
        // infowindow.close();
      });
    });
  }
  </script>

  <script async defer src="//maps.googleapis.com/maps/api/js?callback=initMap&libraries=geometry&key=AIzaSyDBCiMS07MeBOS8PEFkzZmFEKb1mqgO3LU"></script>
{% endblock %}
