{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block head %}
  {{ super() }}
  <style>
  #map {
    width: auto;
    height: 100%;
    overflow: hidden;
    max-width: none;
  }
  </style>
{% endblock %}


{% block content %}
  <div id="map"></div>
{% endblock %}

{% block footer %}
  {{ super() }}

  <script src="//cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
  <script>
  var styledMapArray = [{% include 'gmaps_theme.js' %}];

  function initMap() {
    google.maps.event.addDomListener(window, 'load', function() {
      var spinner = $('#spinner');

      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: {{ lat }}, lng: {{ lng }}},
        zoom: 5,
        minZoom: 5,
        maxZoom: 20,
        disableDefaultUI: true,
        zoomControl: true
      });

      map.mapTypes.set('styled_map', new google.maps.StyledMapType(styledMapArray));
      map.setMapTypeId('styled_map');

      var infowindow = new google.maps.InfoWindow({
        disableAutoPan: true
      });

      var markerCluster = new MarkerClusterer(map, [], { imagePath: '{{ url_for("static", filename="maps/m") }}' });

      function addMarker(nude) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(nude.lat, nude.lng),
          data: nude
        });

        google.maps.event.addListener(marker, 'click', function() {
          var contentString = "<img style='max-height:240px;' src='"+  marker.data.url + "'>";

          infowindow.close();
          infowindow.setContent(contentString);
          infowindow.open(map, marker);
        });

        markerCluster.addMarker(marker);
      }

      var centeredAt = new google.maps.LatLng();

      google.maps.event.addListener(map, 'idle', function() {
        if (google.maps.geometry.spherical.computeDistanceBetween(map.getCenter(), centeredAt) < 1000) {
          return;
        }

        spinner.addClass('is-active');
        markerCluster.clearMarkers();
        infowindow.close();

        var radius = 6378.8;
        var bounds = map.getBounds();
        var center = bounds.getCenter();
        var lat = center.lat();
        var lng = center.lng();
        var ne = bounds.getNorthEast();
        var lat1 = ne.lat() / 57.2958;
        var lng1 = ne.lng() / 57.2958;
        var lat2 = lat / 57.2958;
        var lng2 = lng / 57.2958;

        var distance = radius * Math.acos(
          Math.sin(lat2) * Math.sin(lat1) +
          Math.cos(lat2) * Math.cos(lat1) *
          Math.cos(lng1 - lng2)
        );

        var url = '/api/v1/nudes' +
          '?lat=' + lat +
          '&lng=' + lng +
          '&distance=' + Math.floor(distance * 1000) +
          '&limit=' + 1000;

        $.getJSON(url, function(payload) {
          $.each(payload.result, function(index, data) {
            addMarker(data);
          });
        })
        .always(function() {
          spinner.removeClass('is-active');
        });
      });

      google.maps.event.addListener(map, "click", function(event) {
        infowindow.close();
      });
    });
  }
  </script>

  <script async defer src="//maps.googleapis.com/maps/api/js?callback=initMap&libraries=geometry&key=AIzaSyAoMXjq-vmAOzoJVt8UCBppNaZar2ciy24"></script>
{% endblock %}
