{% extends "layout.html" %}

{% block head %}
  {{ super() }}

  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />

  <style>
  .demo-list-icon {
    width: 300px;
  }

  .mdl-layout {
    align-items: center;
  }
  </style>
{% endblock %}

{% block content %}
<dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title">Allow data collection?</h4>
  <div class="mdl-dialog__content">
    <div id="firebaseui-auth-container"></div>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button">Agree</button>
    <button type="button" class="mdl-button close">Disagree</button>
  </div>
</dialog>


<input type="file" id="input" name="file" style="position: fixed; top: -100em" />










<!-- <div class="mdl-layout"> -->

<ul class="demo-list-icon mdl-list">

  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <img id="preview" width="200" height="200" src="http://i.stack.imgur.com/aEEkn.png" />
    </span>
  </li>

  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <div id="p3" class="mdl-progress mdl-js-progress"></div>
    </span>
  </li>


  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
        <input id="tags" class="mdl-textfield__input" type="text">
        <label class="mdl-textfield__label" for="sample1">#hashtags</label>
      </div>
    </span>
  </li>

    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <button id="upload" class="mdl-button mdl-js-button mdl-button--raised">
          Enviar
        </button>
      </span>
    </li>

    </ul>
{% endblock %}

{% block footer %}
<script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>

<script>
  function trackAllowedGeo(allowed) {
    try {
      ga('send', 'event', {
        'eventCategory': 'Upload',
        'eventAction': 'GeoLocation',
        'eventValue': allowed
      });
    } catch (e) { }
  }



  var uploadButton = document.getElementById('upload');
  var tags = document.getElementById('tags');
  var progressBar = document.querySelector('#p3');
  var dialog = document.querySelector('dialog');
  var auth = firebase.auth();
  var storageRef = firebase.storage().ref();
  var downloadURL = null;
  var lat = {{ lat }};
  var lng = {{ lng }};

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      lat = position.coords.latitude;
      lng = position.coords.longitude;
      trackAllowedGeo(true);
    },
    function (error) {
      if (error.code == error.PERMISSION_DENIED) {
        trackAllowedGeo(false);
      }
    });
  }

  function handleFileSelect(event) {
    event.stopPropagation();
    event.preventDefault();

    var previewImage = document.getElementById('preview');
    var file = event.target.files[0];

    if (FileReader && file) {
        var reader = new FileReader();
        reader.onload = function () {
          previewImage.src = reader.result;
        }
        reader.readAsDataURL(file);
    }

    var uid = auth.currentUser.uid;
    var now = new Date();
    var year = now.getUTCFullYear();
    var month = now.getUTCMonth() + 1;
    var day = now.getUTCDate();
    var p1 = uid.slice(0, 3);
    var filename = file.name.replace(/[^A-Z0-9]+/ig, "-");
    var path = [year, month, day, p1, filename].join("/");

    var metadata = {
      contentType: file.type,
      customMetadata: {
        user: uid
      }
    };

    var uploadTask = storageRef.child(path).put(file, metadata);
    uploadTask.on('state_changed', function(snapshot) {
      var uploadProgress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
      console.log(uploadProgress);
      progressBar.MaterialProgress.setProgress(uploadProgress);
    }, function(error) {
      alert(error);
    }, function() {
      var url = uploadTask.snapshot.downloadURL;
      downloadURL = uploadTask.snapshot.downloadURL;
      uploadButton.disabled = false;
      console.log(url);
    });
  }

  function publishNude(payload, token, callback) {
    var request = window.ActiveXObject ?
      new ActiveXObject('Microsoft.XMLHTTP') :
      new XMLHttpRequest();

    request.onreadystatechange = function() {
      if (request.readyState === 4) {
        request.onreadystatechange = doNothing;
        callback(request.responseText, request.status);
      }
    };

    request.open("POST", "/api/v1/nudes");
    request.setRequestHeader("Authorization", "Bearer " + token);
    request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    request.send(JSON.stringify(payload));
  }

  function doNothing() {
  }

  function upload() {
    uploadButton.disabled = true;

    /*
    auth.currentUser.getToken( forceRefresh true )
      .then(function(token) {
        var request = window.ActiveXObject ?
          new ActiveXObject('Microsoft.XMLHTTP') :
          new XMLHttpRequest();

          // TODO var lat = ... || {{ lat }};

          var payload = {
            'lat': lat,
            'lng': lng,
            'url': downloadURL,
            'tags': tags.value
          };

          publishNude(payload, token, function(json) {
              var payload = JSON.parse(json);

              window.location.href = '/nude/' + payload.key;
          });
    });
    */
  }

  window.onload = function() {
    var input = document.getElementById('input');
    var previewImage = document.getElementById('preview');

    input.addEventListener('change', handleFileSelect, false);
    previewImage.addEventListener('click', function() { input.click(); }, false);

    uploadButton.addEventListener('click', function() { upload(); }, false);
    uploadButton.disabled = true;
    // document.getElementById('file').disabled = true;

    var dialog = document.querySelector('dialog');
    // dialog.showModal();

    dialog.querySelector('.close').addEventListener('click', function() {
      dialog.close();
    });
  }


  initApp = function() {
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        // User is signed in.
        console.log('User is signed in.');
        console.log('User is Anonymous? ', user.isAnonymous);

        var displayName = user.displayName;
        var email = user.email;
        var emailVerified = user.emailVerified;
        var photoURL = user.photoURL;
        var uid = user.uid;
        var providerData = user.providerData;
        console.log('displayName', displayName);
        console.log('email', email);

        user.getToken().then(function(accessToken) {
          console.log('accessToken', accessToken);
          /*
          document.getElementById('sign-in-status').textContent = 'Signed in';
          document.getElementById('sign-in').textContent = 'Sign out';
          document.getElementById('account-details').textContent = JSON.stringify({
            displayName: displayName,
            email: email,
            emailVerified: emailVerified,
            photoURL: photoURL,
            uid: uid,
            accessToken: accessToken,
            providerData: providerData
          }, null, '  ');
          */
        });
      } else {
        console.log('User is signed out.');
        dialog.showModal();
        // document.getElementById('sign-in-status').textContent = 'Signed out';
        // document.getElementById('sign-in').textContent = 'Sign in';
        // document.getElementById('account-details').textContent = 'null';
      }
    }, function(error) {
      console.log(error);
    });
  };

  document.addEventListener("DOMContentLoaded", function(event) {
  // window.addEventListener('load', function() {
    initApp()
  });

window.addEventListener('load', function() {
  var uiConfig = {
    'signInSuccessUrl': '/upload',
    'signInOptions': [
      firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      firebase.auth.FacebookAuthProvider.PROVIDER_ID,
      firebase.auth.TwitterAuthProvider.PROVIDER_ID,
      // firebase.auth.GithubAuthProvider.PROVIDER_ID,
      firebase.auth.EmailAuthProvider.PROVIDER_ID
    ],
    // Terms of service url.
    'tosUrl': '/tos',
  };

  var ui = new firebaseui.auth.AuthUI(firebase.auth());
  ui.start('#firebaseui-auth-container', uiConfig);
});
  </script>

  {{ super() }}
{% endblock %}
