{% extends "layout.html" %}


{% block head %}
  {{ super() }}
  <style>
  .demo-card-wide.mdl-card {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 320px;
    max-height: 320px;
    min-height: 320px;
    background: url('http://freeiconbox.com/icon/256/17992.png') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  .mdl-layout__content {
    padding: 20px;
  }

  .mdl-textfield {
    width: 100%;
  }

  img#preview {
    height: 320px;
    max-height: 320px;
    min-height: 320px;

    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  </style>
{% endblock %}


{% block content %}

  <input type="file" id="input" name="file" style="position: fixed; top: -100em" />

  <img id="preview" src="http://freeiconbox.com/icon/256/17992.png" /> <!-- //:0 -->

  <!--
  <div class="mdl-card mdl-shadow--2dp demo-card-wide">

      <div id="preview" class="mdl-card__title">
        <div id="progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

        <div id="background" class="translucent"></div>
      </div>

      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample1">
          <label class="mdl-textfield__label" for="sample1">tags...</label>
        </div>
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <button id="upload" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" disabled>
          enviar
        </button>
      </div>

      <div class="mdl-card__menu">
        <button id="demo-menu-lower-right"
          class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
          <li class="mdl-menu__item">Some Action</li>
          <li class="mdl-menu__item">Another Action</li>
        </ul>

      </div>
    </div>
  -->

{% endblock %}

{% block footer %}
  {{ super() }}
  <script>
  $(document).ready(function() {
    var preview = $('#preview');
    var progress = $('#progress');
    var input = $('#input');
    var upload = $('#upload');

    upload.disabled = true;

    progress.hide();

    preview.click(function() {
      input.click();
    });

    input.change(function(event) {
      var file = event.target.files[0];

      if (FileReader && file) {
          var reader = new FileReader();
          reader.onload = function () {
            upload.disabled = false;
            preview.attr('src', reader.result);
          }
          reader.readAsDataURL(file);
      }
    });
  });
  </script>

{% endblock %}
