<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta http-equiv="Content-Language" content="pt-br">
    <title>{% block title %}{% endblock %} Manda Nudes Aê!</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//code.getmdl.io/1.2.1/material.min.css">
    <link rel="stylesheet" href="//code.getmdl.io/1.2.1/material.blue_grey-red.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">

          <!--
          <span class="mdl-layout-title">
            <img class="logo-image" src="images/logo.png">
          </span>
          -->

          <div id="spinner" class="mdl-spinner mdl-js-spinner"></div>

          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
          </div>

          <nav class="android-navigation mdl-navigation">
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Mapa</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/upload">Enviar</a>
          </nav>

        </div>
      </div>

      <main class="mdl-layout__content">
        {% block content %}{% endblock %}
      </main>

      </div>
    </div>


    <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-auth.js"></script>
    <script>
    firebase.initializeApp({
      apiKey: "AIzaSyBmhEGzwL4wVUcGn6ZZiHBD_Aq0gOgCSaU",
      authDomain: "redneighbor-b.firebaseapp.com",
      messagingSenderId: "787208033873",
      storageBucket: "redneighbor-b.appspot.com"
    });

    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        var isAnonymous = user.isAnonymous;
        var uid = user.uid;

        console.log(user, isAnonymous);
      } else {
        console.log("User is signed out.");
      }
    });

    </script>

    {% block footer %}
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    {% endblock %}
  </body>
</html>
